@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

:root {
  --main-bgc: #fafafa;
  --menu-bgc: #fff; }

body {
  background-color: var(--main-bgc); }

header {
  background: #fff; }

.nav {
  max-width: 1230px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav h2 {
    font-weight: bolder;
    font-size: 28px; }
    .nav h2 a {
      color: #000;
      text-decoration: none; }
  .nav .nav-links {
    list-style: none; }
    .nav .nav-links li a {
      color: #000;
      text-decoration: none; }

main.landing {
  margin-bottom: 150px; }
  main.landing .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1280px;
    margin: 0 auto;
    justify-items: center; }
    main.landing .container .blog-post {
      margin: 40px 0; }
      main.landing .container .blog-post a {
        color: #000;
        text-decoration: none; }
        main.landing .container .blog-post a .img-container {
          width: 594px;
          height: 444px;
          overflow: hidden;
          position: relative; }
          main.landing .container .blog-post a .img-container img {
            position: absolute;
            bottom: -150px; }
        main.landing .container .blog-post a .title {
          margin-top: 32px;
          padding-bottom: 40px; }
          main.landing .container .blog-post a .title h3 {
            font-size: 21px; }

header .hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

main.post {
  max-width: 600px;
  margin: 0 auto 200px; }
  main.post section.blogpost-title {
    margin-top: 70px;
    margin-bottom: 30px; }
    main.post section.blogpost-title .date {
      margin-bottom: 30px; }
      main.post section.blogpost-title .date p {
        color: grey; }
    main.post section.blogpost-title .title {
      margin-bottom: 20px; }
      main.post section.blogpost-title .title h2 {
        font-size: 35px; }
    main.post section.blogpost-title .category {
      padding-bottom: 40px;
      border-bottom: 1px solid lightgrey; }
      main.post section.blogpost-title .category a {
        color: grey; }
  main.post section.blogpost-body .content p {
    margin: 30px 0;
    line-height: 1.8; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8d8d8;
  height: 200px; }

.dashboard {
  display: grid;
  grid-template-columns: 20% 1fr; }
  .dashboard main.dashboard-view {
    background-color: var(--main-bgc); }

.dashboard-menu {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: var(--menu-bgc);
  border-right: 1.5px solid #e4e4e4; }
  .dashboard-menu .logo {
    margin-bottom: 100px; }
    .dashboard-menu .logo h2 a {
      color: #000;
      text-decoration: none; }
  .dashboard-menu nav.dashboard-nav {
    width: 50%; }
    .dashboard-menu nav.dashboard-nav ul {
      list-style: none; }
      .dashboard-menu nav.dashboard-nav ul li {
        margin-bottom: 60px;
        font-weight: bolder;
        color: grey; }
        .dashboard-menu nav.dashboard-nav ul li a {
          display: grid;
          grid-template-columns: 30% 1fr;
          color: grey;
          text-decoration: none; }
        .dashboard-menu nav.dashboard-nav ul li a.selected,
        .dashboard-menu nav.dashboard-nav ul li a:hover {
          color: #000; }

main.dashboard-view {
  padding: 50px 40px; }
  main.dashboard-view .dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 50px; }
    main.dashboard-view .dashboard-header span {
      font-weight: bolder;
      font-size: 14px;
      color: grey; }
  main.dashboard-view .dashboard-content .top-message {
    background-color: #f8e5e9;
    padding: 35px 80px;
    border-radius: 18px;
    width: 70%; }
    main.dashboard-view .dashboard-content .top-message h3 {
      margin-bottom: 20px;
      color: #f96470; }

.dashboard-content form {
  background-color: #fff;
  padding: 35px 80px;
  border-radius: 18px;
  width: 70%; }
  .dashboard-content form h3 {
    margin-bottom: 30px; }
  .dashboard-content form .form-group {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px; }
    .dashboard-content form .form-group label {
      position: absolute;
      z-index: 10;
      top: 15px;
      left: 15px;
      font-size: 13px;
      color: grey; }
    .dashboard-content form .form-group input,
    .dashboard-content form .form-group textarea {
      padding: 35px 15px 15px 15px;
      border: 1px solid lightgrey;
      outline: 0;
      border-radius: 8px; }
  .dashboard-content form button {
    background: #ff8183;
    background: linear-gradient(180deg, #ff8183 0%, #f8656d 100%);
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0.9rem 1.7rem;
    border: none;
    border-radius: 0.3rem;
    color: white;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: bolder;
    outline: 0;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer; }
  .dashboard-content form button[type='submit'] {
    background: #ff8183;
    background: linear-gradient(180deg, #ff8183 0%, #f8656d 100%);
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0.9rem 1.7rem;
    border: none;
    border-radius: 0.3rem;
    color: white;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: bolder;
    outline: 0;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
